<app-menu-title></app-menu-title>
<div class="articles__container">
  <div class="main_article">
    <app-big-card
      [card]="{
        title: 'Como conseguir sua primeira vaga de emprego Dev Angular?',
        img_url: 'https://images.pexels.com/photos/6471/woman-hand-smartphone-desk.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
        author: 'Richard Lima',
        description: 'Acompanhe o passo a passo para sair do zero até se tornar um(a)
        desenvolvedor(a) Angular e conseguir a sua primeira vaga de emprego',
      }"
    ></app-big-card>
  </div>
  <div class="other_articles__container">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
